
html,body {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 0;
}
.head_container {
    position: relative;
    height: 10%;
    width: 100%;
    background-image: linear-gradient(to bottom right, #067143, #0CFF97);
    box-shadow: -4px 4px 4px  grey;
    padding: 10px;
    overflow: hidden;
}
p {
    font-family: sans-serif;
}
.index_container {
    position: relative;
    width: 100%;
    height: fit-content;
    padding: 10px;
    margin: 0 auto;
    margin-top: 1%;
    text-align: center;
}
.index_txt {
    position: relative;
    width: 100%;
    text-align: center;
    font-style: italic;
    font-size: large;
}
.play_store_link {
    position: relative;
    height: 60px;
    top:30%;
}
.play_store_attr {
    font-size: small;
}
.light_txt {
    font-weight: lighter;
}
h1 {
    position: relative;
    width: 100%;
    font-family: sans-serif;
    font-weight: lighter;
    color: white;
    text-align: center;
}
h2 {
    width: 100%;
    font-family: sans-serif;
    font-weight: lighter;
    text-align: center;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6px;
    text-align: center;
}
a {
    font-family: sans-serif;
    text-decoration: none;
    color: #66BB6A;
}
.terms_btn {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: fit-content;
}
.lang_btn {
    position: relative;
    width: 100%;
    float: right;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 1px;
    padding-bottom: 1px;
    width: fit-content;
    height: fit-content;
    margin-bottom: -14px;
    text-align: end;
}
.terms_container {
    margin: 0 auto;
    margin-top: 2%;
    width: 80%;
    padding: 10px;
}
.term_cat {
    color: #66BB6A;
    text-align: start;
    font-weight: bold;
}
.terms_txt {
    text-align: start;
}