
html,body {
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    margin: 0;
}
header {
    position: relative;
    width: 100%;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to bottom right, #067143, #0CFF97);
    box-shadow: -4px 4px 4px grey;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
.icon {
    height: 40px;
    float: left;
}
.social_icon {
    height: 20px;
    float: left;
}
footer {
position: fixed;
    display: flex;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: right;
    background-image: linear-gradient(to bottom right, #067143, #0CFF97);
    box-shadow: 0 0 8px 0 grey;
    overflow: hidden;
    align-items: center;
    justify-content: flex-end;
}
footer a {
    float: right;
    display: inline;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: small;
}
p {
    font-family: sans-serif;
}
main {
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.index_txt {
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    font-style: italic;
    font-size: large;
}
.play_store_link {
    position: relative;
    height: 60px;
    top:30%;
}
.play_store_attr {
    font-size: small;
}
.light_txt {
    font-weight: lighter;
}
h1 {
    font-family: system-ui;
    font-weight: lighter;
    color: white;
    text-align: center;
    padding-left: 10px;
}
h2 {
    width: 100%;
    font-family: sans-serif;
    font-weight: lighter;
    text-align: center;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6px;
    text-align: center;
}
a {
    font-family: sans-serif;
    text-decoration: none;
    color: #66BB6A;
}
.terms_btn {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: fit-content;
}
.lang_btn {
    position: relative;
    width: 100%;
    float: right;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 1px;
    padding-bottom: 1px;
    width: fit-content;
    height: fit-content;
    margin-bottom: -14px;
    text-align: end;
}
.terms_container {
    margin: 0 auto;
    margin-top: 2%;
    width: 80%;
    padding: 10px;
}
.term_cat {
    color: #66BB6A;
    text-align: start;
    font-weight: bold;
}
.terms_txt {
    text-align: start;
}